 <section class="section-projects u-center">
   <figure class="figure figure--1">
     <img src="images/pic1.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--2">
     <img src="images/pic2.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--3">
     <img src="images/pic3.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--4">
     <img src="images/pic4.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--5">
     <img src="images/pic5.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--6">
     <img src="images/pic6.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--7">
     <img src="images/pic7.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--8">
     <img src="images/pic8.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--9">
     <img src="images/pic9.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--10">
     <img src="images/pic8.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   <figure class="figure figure--11">
     <img src="images/pic9.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
    <figure class="figure figure--12">
     <img src="images/pic1.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption"><%= link_to 'See project', '/project.html', :relative => true %></figcaption>
   </figure>
   </section>
